$cor1: #22EE00;
$cor2: #8FF240;
$cor3: #AA88FF;
$cor4: #282A2D;
$cor5: #1B1D20;

.buttonPurple {
    background: linear-gradient(#9B30F9, #84e);
    color: white;
    border: 2px solid #9B30F9;
    text-transform: uppercase;
    font-weight: 800;
    &:hover {
        background: transparent;
        color: #9B30F9;
    }
}
body {
    background: $cor5;
    color: whitesmoke;
}
.header, .footer {
    &__logo {
        span {
            color: $cor2;
            font-weight: bolder;
            font-size: larger;
        }
        &:hover {
            img {
                transition: .5s;
                transform: rotate(-25deg);
                }
            span {
                color: $cor2;
            }
        }
    }
    &__redes {
        i {
            font-size: 1.5rem;
            color: $cor2;
            &:hover {
                color: $cor1;
            }
        }
    }
}
main {
    margin-top: 70px;
    margin-left: 13rem;
}
.apresentacao {
    &__title::after {
        content: "|";
        margin-left: 5px;
        opacity: 1;
        animation: blind .7s infinite;
    }
    &__sorte {
        //font-family: 'Noto Sans JP', sans-serif;
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        position: absolute;
        left: 0;
    }
    &__content {
        background: $cor4;
    }
}
.paginas {
    &__card {
        color: whitesmoke;
        height: 250px;
        cursor: pointer;
        background: $cor4;
        &:hover {
            transition: .5s;
            transform: translate3d(0, -15px, 0);
        }
    }
}
.musica {
    &__content {
        background: black;
    }
    &__art {
        min-width: 300px;
     }
    i {
        font-size: 1.5rem;
        cursor: pointer;
    }
    i#musicPlay {
        font-size: 3rem;
    }
}
.ferramentas {
    img {
        width: 100px;
        margin: auto;
        &:hover {
            filter: drop-shadow(1px 1px 4px whitesmoke);
        }
    }
}
.relate {
    &__list {
        list-style: none;
        i {
            font-size: 1.5rem;
        }
        a {
            color: $cor3;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.sidebar {
    width: 13rem;
    background: $cor4;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
    color: rgb(150, 150, 150);
    z-index: 1;
    a {
        color: rgb(150, 150, 150);
        text-decoration: none;
        font-weight: 600;
        font-size: .9rem;
        &:hover {
            background-color: $cor5;
        }
        &.active {
            color: white;
            background: $cor5;
            .sidebar__icon {
                color: $cor2;
            }
        }
    }
    .accordion-item {
        p {
            font-weight: 600;
            font-size: .9rem;
        }
        &:hover {
            background: $cor5;
        }
    }
    ul {
        list-style: none;
        overflow-y:scroll;
        max-height: 250px;
        padding: 0;
    }
    ul li {
        background: $cor4;
        padding: 5px 0;
        border-bottom: .5px solid $cor5;
        padding-left: 1rem;
        &:hover {
            background: $cor5;
        }
    }
    ul a {
        text-decoration: none;
    }
    &__icon {
        width: 3rem;
        height: 3rem;
        text-align: center;
        i {
            font-size: 1.2rem;
        }
    }
    &__container {
        padding: 0 5px;
    }
}
.footer {
    height: 100vh;
    margin-left: 13rem;
    &__list {
        list-style: none;
        a {
            color: $cor3;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__copyright {
        background: $cor4;
    }
    &--vulners {
        height: 0;
    }
}
.login {
    background-image: url(../img/criptografia.jpg);
    //https://i.pinimg.com/originals/c1/34/c2/c134c246d293905c9ed09ad77c451226.gif
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    &__header span {
        color: $cor2;
    }
    &__content {
        background: $cor5;
        height: 100vh;
        padding: 0 130px;
    }
    a {
        color: $cor3;
        text-decoration: none;
    }
    input {
        background: transparent;
        border: 1px solid gray;
        border-radius: 3px;
        &:focus {
            background: transparent;
        }
    }
    #showPassword {
        cursor: pointer;
    }
}
@keyframes blind {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@media (max-width: 720px) {
    .sidebar {
        width: 3rem;
        &__address {
            display: none;
        }
        &__arrow {
            display: none;
        }
    }
    main {
        margin-left: 3rem;
    }
    .footer {
        margin-left: 3rem;
    }
    .header {
        margin-left: 0;
        &__title {
            display: none;
        }
    }
    .login {
        &__content {
            padding: 20px;
            height: auto;
            margin: 40px 20px;
            border-radius: 3px;
        }
    }
}